.NFT{
    border-radius: 20px;
}

.ConnectWallet {
    display: flex !important;
    padding: 8px 12px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 4px !important;

    border-radius: 8px !important;
    border: 1px solid #8C8C8C !important;
}

.main-container{
    display: flex;
}

.BuyButton{
    display: inline-flex !important;
padding: 1.1em 3.3em !important;
justify-content: center !important;
align-items: center !important;
/* check */
gap: 12em !important; 
/*  */
border-radius: 8px !important;
background: var(--primary-1, #1973E8) !important;
color: white !important;
}



@media screen and (min-width: 960px) {
    .main-container {
      display: block;
    }
  }

